<%- include('../layouts/adminheader') %>

    <h2 class="page-title">
        Edit a category
    </h2>

    <a href="/admin/categories" class="btn btn-primary">Back to all category</a>

    <br>
    <br>
    <form method="post" action="/admin/categories/edit-category/<%= id %>">

        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title" value="<%= title %>">
        </div>

        <button class="btn btn-danger">Submit</button>


    </form>

    <%- include('../layouts/adminfooter') %>