</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; TienVV</p>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script src="/shopping-cart-project-lec-12/public/js/main.js"></script>
<script src="/js/main.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

</body>

</html>